.track-card {
    @apply grid 
            min-h-[60px]
            grid-cols-[5%,40%,20%,20%,5%]
            items-center
            justify-between
            gap-0 
            rounded-lg
            p-1 
            duration-300
            hover:bg-neutral/25 
            sm:grid-cols-[10%,80%,10%]
            sm:gap-2
            sm:text-sm
            md:grid-cols-[10%,80%,10%]
            lg:grid-cols-[10%,80%,10%]
            sm:[&>:not(:first-child):not(:nth-child(2)):not(:last-child)]:hidden
            md:[&>:not(:first-child):not(:nth-child(2)):not(:last-child)]:hidden
            lg:[&>:not(:first-child):not(:nth-child(2)):not(:last-child)]:hidden;
}

.sound-wave {
    @apply flex
				h-12
				w-full
				items-end 
				justify-center
				gap-1
				sm:h-10
				[&>*:nth-child(2)]:[animation-duration:500ms]
				[&>*:nth-child(1)]:[animation-duration:400ms]
				[&>*:nth-child(3)]:[animation-duration:600ms]
				[&>*:nth-child(4)]:[animation-duration:700ms]
				[&>*:nth-child(5)]:[animation-duration:600ms];
}
.sound-wave div {
    @apply h-[10%] w-[3px] animate-jumping bg-success sm:w-[2px];
}
