@import url("https://cdn.jsdelivr.net/npm/daisyui@2.46.1/dist/full.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* --p: rgba(31, 178, 166, 1); */
	/* --b1: */
	--tooltip-color: rgba(31, 178, 166, 1);
}
@layer base {
	.rounded-row:first-child {
		@apply rounded-tl-md rounded-bl-md;
	}
	.rounded-row:last-child {
		@apply rounded-tr-md rounded-br-md;
	}
	.material-symbols-outlined.md-48 {
		@apply text-5xl;
	}
	.material-symbols-outlined.md-36 {
		@apply text-4xl;
	}
	.material-symbols-outlined.md-30 {
		@apply text-3xl;
	}
	.material-symbols-outlined.md-20 {
		@apply text-xl;
	}
	.material-symbols-outlined.md-18 {
		@apply text-lg;
	}
	.material-symbols-sharp.md-48 {
		@apply text-5xl;
	}
	.material-symbols-sharp.md-36 {
		@apply text-4xl;
	}
	.material-symbols-sharp.md-20 {
		@apply text-xl;
	}

	.input::placeholder {
		@apply text-base-content/70;
	}
}
@layer utilities {
	.table > tbody {
		@apply bg-transparent;
	}
	.rounded-row > :first-child:where(td) {
		@apply rounded-tl-md rounded-bl-md;
	}
	.rounded-row > :last-child:where(td) {
		@apply rounded-tr-md rounded-br-md;
	}
	.position-center {
		@apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
	}
	:target {
		@apply text-accent;
	}
	/* input range */
	.range-container {
		@apply relative flex w-full items-center;
	}
	.range-progress {
		@apply absolute top-0 z-[1] block h-1 rounded-[0.2rem] bg-accent;
	}

	.range-container:hover > .my-range::-webkit-slider-thumb {
		@apply opacity-100 shadow-[0_0_0.25rem_0.5rem_rgba(31,178,166,0.3)];
	}
	.my-range {
		@apply z-[2] h-1 w-[-webkit-fill-available] appearance-none rounded-sm border-none bg-zinc-600/30 outline-none duration-[all_ease_500];
	}
	.my-range::-webkit-slider-thumb {
		@apply h-3 w-3 appearance-none rounded-full bg-accent opacity-0 outline-none duration-300;
	}
	.my-range::-webkit-slider-thumb:hover {
		@apply opacity-100 shadow-[0_0_0.25rem_0.5rem_rgba(31,178,166,0.3)];
	}
	.my-range:active:-webkit-slider-thumb:hover {
		@apply opacity-100 shadow-[0_0_0.25rem_0.5rem_rgba(31,178,166,0.3)];
	}

	/* hidden scrollbar */
	.invisible-scroll::-webkit-scrollbar {
		@apply hidden;
	}

	/* scrollbar */
	.scroll::-webkit-scrollbar {
		margin-right: 4px;
		width: 0.25rem;
		opacity: 0;
	}
	.scroll::-webkit-scrollbar-track {
		@apply w-3;
	}
	.scroll::-webkit-scrollbar-thumb {
		@apply bg-accent;
	}

	/* heading text */
	.heading-text {
		@apply mx-auto flex items-center justify-center gap-3 text-center;
	}
	.heading-text::after,
	.heading-text::before {
		@apply block w-1/3 border-b [content:""];
	}
}
@layer components {
	.tab {
		@apply basis-1/4 text-base-content sm:tab-xs md:tab-md lg:tab-md xl:tab-lg xxl:tab-lg;
	}
	.tab-bordered.tab-active {
		@apply border-accent font-medium text-accent;
	}
	.tab-lifted.tab-active {
		@apply font-medium text-accent;
	}
	.tabs-boxed.tab-active {
		@apply btn-accent btn text-accent;
	}
	.radio-accent {
		@apply checked:border-accent checked:bg-accent checked:outline-accent;
	}

	.tooltip {
		@apply z-[100];
	}

	.btn {
		@apply normal-case;
	}

	.loader-sm {
		@apply pointer-events-none h-6 w-6 animate-spin rounded-full border-[3px] border-transparent  border-t-accent;
	}
	.loader-md {
		@apply pointer-events-none h-10 w-10 animate-spin rounded-full border-[3px] border-transparent border-t-accent;
	}
	.loader-lg {
		@apply pointer-events-none h-14 w-14 animate-spin rounded-full border-[4px] border-transparent border-t-accent;
	}
	/* swiper */
	.swiper-button-next,
	.swiper-button-prev {
		@apply !h-10 !w-10 after:hidden;
	}
	.swiper-button-next,
	.swiper-rtl .swiper-button-next {
		@apply left-auto after:right-10;
	}
	.swiper-button-next > i,
	.swiper-button-prev > i {
		@apply btn-accent btn-sm btn-circle btn h-full w-full text-2xl font-medium;
	}

	.menu > li {
		@apply rounded-lg text-base-content/80 hover:text-base-content;
	}
	.menu > li:acitve {
		@apply text-accent;
	}
	.menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):focus),
	.menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):hover) {
		@apply text-base-content;
	}
	.menu :where(li:not(.menu-title):not(:empty)) > :where(:not(ul).active),
	.menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):active) {
		@apply text-base-content;
	}
	.menu-item-active {
		@apply bg-base-content/10 font-medium text-base-content;
	}
	.form-control > .input,
	.form-control > .custom-select {
		@apply input-bordered border-base-content/50 bg-transparent text-base-content outline-none focus:border-base-content focus:outline-none;
	}
	.form-control > .input:focus,
	.form-control > .custom-select:focus {
		@apply border-base-content outline-none;
	}

	.error-message {
		@apply text-base;
	}
	.toast {
		@apply z-50 font-medium text-zinc-800;
	}
	.center {
		@apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
	}

	.scroll::-webkit-scrollbar-track {
	}

	.dropdown > .custom-select {
		@apply input-bordered input inline-flex w-[-webkit-fill-available] items-center justify-between bg-transparent;
	}
	.dropdown > .custom-option {
		@apply scroll menu mt-2 max-h-[200px] w-full overflow-y-auto rounded-lg bg-base-200 p-2 text-base text-base-content shadow;
	}

	.track-card {
		@apply container grid max-w-full grid-cols-[0.5fr,9fr,0.5fr] items-center gap-1 rounded-lg p-2 hover:bg-base-content/10 hover:duration-500 sm:grid-cols-[1.5fr,8fr,0.5fr] sm:p-1 sm:text-base md:grid-cols-[1fr,8fr,1fr] lg:grid-cols-[1fr,8.5fr,1fr] xl:grid-cols-[0.5fr,9fr,0.5fr];
	}
	.track-card > .track-card-action {
		@apply flex h-auto w-auto items-center justify-center text-center;
	}

	.track-card-action > .track-card-index {
		@apply min-w-full;
	}
	.track-card > .track-card-body {
		@apply grid max-w-full flex-1 grid-cols-[4fr,2fr,2fr,1fr] items-center sm:grid-cols-1;
	}

	.track-card-body img {
		@apply h-16 max-w-full rounded-lg object-cover object-center sm:h-12 sm:max-w-[48px];
	}
	.track-card-body > div:first-child {
		@apply flex items-center gap-2;
	}
	.track-card-body > div:nth-child(2),
	.track-card-body > div:nth-child(3),
	.track-card-body > div:nth-child(4) {
		@apply text-left text-base-content/80 group-hover:text-base-content sm:hidden md:hidden lg:hidden;
	}
	.track-title {
		@apply max-w-[-webkit-fill-available] truncate text-base font-medium;
	}
	.track-artist {
		@apply text-base-content/80 hover:link;
	}
	.track-card-dropdown {
		@apply flex items-center gap-5 text-base-content;
	}
	/* sound wave */
	.sound-wave {
		@apply flex h-12 w-full items-end justify-center gap-1 sm:h-10;
	}
	.sound-wave div {
		@apply h-[10%] w-[3px] animate-jumping bg-accent sm:w-[2px];
	}
	.scroll {
		@apply: w-1;
	}
	.sound-wave > div:nth-child(1) {
		animation-duration: 0.4s;
	}
	.sound-wave > div:nth-child(2) {
		animation-duration: 0.5s;
	}
	.sound-wave > div:nth-child(3) {
		animation-duration: 0.6s;
	}
	.sound-wave > div:nth-child(4) {
		animation-duration: 0.7s;
	}
	.sound-wave > div:nth-child(5) {
		animation-duration: 0.6s;
	}

	.gradient-border::after {
		@apply absolute top-[-60px] right-0 left-0 h-16 w-full bg-gradient-to-r from-[hsl(var(--a))] to-[hsl(var(--p))] [content:''];
	}
}
